---
---

@import "{{ site.theme }}";

body {
 background: #FFE3F2 !important;
 background-color:#FFE3F2 !important;
}

h1, h2, h3 {
  color: #fa8cc7; /* pink header text */
}

#header_wrap {
  background: #FFE3F2;
}

/* Footer Styling */
#footer_wrap {
  background-color: #FFE3F2; /* pink background for footer */
  color: 633b3b; !important /* brown text for footer */
  border: none; /* no border/line separating the footer */
}

/* Footer Links Styling */
#footer_wrap a {
  color: 633b3b; !important /* brown color for footer links */
}

#footer_wrap a:hover {
  text-decoration: none;
}
